@font-face {
  font-family: 'Rotterburg Stylish FREE';
  src: local('Rotterburg Stylish FREE'),
    url('./Font/RotterburgstylishfreeRegular.otf') format('truetype');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  justify-content: space-between;

}

